@using System.Configuration
@using ClientDependency.Core.Mvc
@using HHCoApps.CMSWeb.Caching
@using HHCoApps.CMSWeb.Services
@using Umbraco.Web.Composing
@inherits UmbracoViewPage

@{
    Layout = null;
    Html.RequiresCss("~/css/slick.css");
    Html.RequiresCss("~/css/slick-theme.css");
    Html.RequiresCss("~/css/fonts.css");
    Html.RequiresCss("~/css/icons.css");
    Html.RequiresCss("~/css/iconic/font/css/open-iconic-bootstrap.css");
    Html.RequiresCss("~/css/main.css");
    Html.RequiresCss("~/css/custom.css");
    Html.RequiresCss("~/css/shopify-integrate.css");
    Html.RequiresJs("~/scripts/scripts.js");

    if (Model is INavigationBase navigationBase)
    {
        var redirectUrl = navigationBase.RedirectUrl?.Url;
        if (!string.IsNullOrEmpty(redirectUrl))
        {
            Response.Redirect(redirectUrl);
        }
    }

    var metadataViewModel = Current.Factory.GetInstance<ISeoMetadataService>().GetSeoMetadata(Model);
    var reCaptchaPublicKey = ConfigurationManager.AppSettings["RecaptchaPublicKey"];
}

<!doctype html>
<html lang="en">
<head>
    <title>@metadataViewModel.Title</title>
    <link rel="icon" type="image/ico" href="~/images/Levene_Logo_Colours-LightBlueBackground.jpg">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css" crossorigin="anonymous" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    @Html.CachedPartial("~/views/partials/Metadata.cshtml", metadataViewModel, CacheTimes.FiveMinutesCacheSeconds, true)
    @Html.CachedPartial("~/views/partials/OpenGraph.cshtml", Model, CacheTimes.FiveMinutesCacheSeconds, true)
    @RenderSection("Header", required: false)
    @RenderSection("StyleSheets", required: false)
    @Html.RenderCssHere()
</head>

<body class="page basicpage">
    @Html.CachedPartial("~/views/partials/integrations/GoogleTagManagerBody.cshtml", CacheTimes.FiveMinutesCacheSeconds)
    <div class="root">
        @Html.CachedPartial("~/views/partials/PageHeader.cshtml", CacheTimes.FiveMinutesCacheSeconds)
        @Html.CachedPartial("~/views/partials/HeaderBanner.cshtml", Model, CacheTimes.FiveMinutesCacheSeconds, true)
        <div class="page-wrapper">
            @RenderBody()
        </div>
        @Html.CachedPartial("~/views/partials/FooterBanner.cshtml", Model, CacheTimes.FiveMinutesCacheSeconds, true)
        @Html.CachedPartial("~/views/partials/PageFooter.cshtml", CacheTimes.FiveMinutesCacheSeconds)
    </div>
    <script type="text/javascript" src="https://unpkg.com/jquery@1.12.4/dist/jquery.min.js"></script>
    @RenderSection("Scripts", required: false)
    <script async type="text/javascript" src="https://unpkg.com/bootstrap@3.3.7/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://unpkg.com/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/lozad@1.15.0/dist/lozad.min.js"></script>
    @Html.RenderJsHere()
</body>
</html>
<!--Build Version @ConfigurationManager.AppSettings["version"]-->